Scraping tabular data from wikipedia + pandas

In [202]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [203]:
url ='https://en.wikipedia.org/wiki/List_of_largest_companies_in_India'
page = requests.get(url)
# print(page)

soup = BeautifulSoup(page.text, 'html')
# print(soup)

Table one ( Forbes list 2022)

In [204]:
table1= soup.find_all('table', class_='wikitable sortable')[0]
header= table1.find_all('th')
titles = [title.text.strip() for title in header]
# print(titles)

In [205]:
data=pd.DataFrame(columns=titles)
data.insert(loc=1, column='Rank Change', value='0' )
data.insert(loc=3, column='Forbes rank change', value='0' )

In [206]:
column_data= table1.find_all('tr')
for row in column_data[1:]:
    row_data=row.find_all('td')
    row_data=[td.text.strip() for td in row_data]
    length=len(data)
    data.loc[length]=row_data
# data

Table two (2021 Fortunes list)

In [207]:
table2=soup.findAll('table', class_='wikitable sortable')[1]
header2= table2.find_all('th')
titles2 = [title.text.strip() for title in header2]
# print(titles)
data2=pd.DataFrame(columns=titles2)

In [208]:
column_data2= table2.find_all('tr')
#print(column_data2)
for row in column_data2[1:]:
    row_data=row.find_all('td')
    row_data=[td.text.strip() for td in row_data]
    # print(row_data)
    length=len(data2)
    data2.loc[length]=row_data

# fill the last column
mask = (data2['State Controlled'].str.strip() == '')
data2.loc[mask, 'State Controlled'] = 'No'

In [209]:
# save it in CSV
data.to_csv(r'C:\Users\Sammybravol\OneDrive\Desktop\Projects\web scraping tabular data from websites\Forbes_list_2022_india.csv',index=False)
data2.to_csv(r'C:\Users\Sammybravol\OneDrive\Desktop\Projects\web scraping tabular data from websites\Fortune_list_2021_india.csv',index=False)